@import 'colors';


body {
	overflow-x: hidden;
	overflow-y: hidden;
	color: $darkBlue;
}

h1, h2, h3, h4, h5 {
	color: $darkBlue;
}


.boards {
  position: relative;
  height: 94vh;
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 2em;
}

.board {
	height: fit-content;
	margin: 10px;
	background: lighten($darkBrown, 50%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    .title {
        text-align: center;
        background: $darkBrown;
        color: white;
        padding: 5px 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .body {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        overflow-x: hidden;
        height: 80vh;
        padding: 0.5rem;
        ul {
            margin-left: 0;
            padding-left: 0 !important;
            li {
                list-style: none;
                list-style-type: none;
                margin-bottom: 1rem;
            }
            
        }
    
    }
    
}


.sidebar {
	height: 94vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

  background-color: $lightBlue;
}

.nav-link {
    color: $lightBlue;
    &.dropdown-toggle {
        display: inline !important;
    }
}

.font-italic {
    font-style: italic;
}

.sidebar, .navbar {
    background-color: #eaeaea !important;
}

a.nav-link:hover {
    color: darken($lightBlue, 20%);
}